/* variables */
:root {
 --vert : hsl(75, 94%, 57%);
 --blanche : hsl(0, 0%, 100%);
 --Grey7 : hsl(0, 0%, 20%);
 --Grey8 : hsl(0, 0%, 12%);
 --Grey9 : hsl(0, 0%, 8%);
}
/* end variables */
body {
    /* position: relative; */
    background-color: var(--Grey9);
}
.container {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items : center;
    /* position: absolute;
    top: 50%;
    left: 50%; */
    margin: 0 auto;
    /* transform: translate(-50%, -50%); */
    padding: 20px;
    background-color: var(--Grey8);
    border-radius: 10px;
    height: calc(100vh - 10px);
}
.container 
.container .links {
    
}
.container .links .box {
    background-color: var(--Grey7);
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 6px;
    text-align: center;
}
.container .links .box a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}